<%= render partial: "layouts/header"%>
<div class="container">
<div class="span9 offset well">
   <%= javascript_include_tag "/javascript/highcharts.js", "chartkick" %>
   <script type="text/javascript" src="/javascript/themes/skies.js"></script>
   
</div>
</div>

